{{#if user}}
    {{#if userProfiles}}
        <p>Hello {{userProfiles.first_name}}</p>
    {{else}}
        <p>company sees this</p>
    {{/if}}
{{/if}}

{{#if user}}
<nav>
    {{#if userProfiles}}
    <a href="/profile/user/{{user.username}}">Profile</a>
    {{else}}
    <a href="/profile/company/{{user.username}}">Profile</a>
    {{/if}}
    <a href="/jobs">Jobs</a>
    <a href="/auth/logout">Logout</a>
</nav>
{{else}}
<nav>
    <a href="/jobs">Jobs</a>
    <a href="/auth/login">Login</a>
</nav>
{{/if}}