<div class="job-pages">
    
    
    <div class="jobs-buttons">
        <span><a href="/jobs" class="opaque">Job Board</a></span>
        <span><a href="/jobs/listedjobs" class="listed-jobs right">Jobs Applied</a></span>
    </div>

    {{#each jobs}}
        <div class="jobcontainer">
            <div>
                {{#if this.hasProfilePic}}
                    <img src="/images/companylogos/companylogo{{this.company_id}}" class="small-logo">
                {{else}}
                    <img src="/images/companylogos/company-logo-default.png" class="small-logo">
                {{/if}}
            </div>

            <div class="small-container">
                <span class="top-text">{{this.job_title}}</span>
                <span>{{this.company_name}}</span>
            </div>
            <div class="small-container">
                <span class="top-text">{{this.location}}</span>
                <span>Location</span>
            </div>
            <div class="small-container">
                <span class="top-text">{{this.application_date}}</span>
                <span>Application Date</span>
            </div>
            <div class="more-info">
                <a href="/jobs/jobdetails/{{this.job_id}}">View Job</a>
            </div>
        </div>
    {{/each}}
    
</div>