{{#each logoPath}}
{{#if this}}
<img src="{{this}}" alt="Company Logo" class="profilepicture">
{{else}}
<img src="/images/companylogos/company-logo-default.png" class="profilepicture" alt="Profile Picture">
{{/if}}
{{/each}}

<p class="companytitle">{{companyInfo.company_name}}</p>
<p class="companypara">{{companyInfo.company_website}}</p>
<p class="companypara">Employees: {{companyInfo.headcount}}</p>
<p class="companypara">Remote: {{companyInfo.company_remote}}</p>

{{#if isCompany}}
<button class="edit-btn"><a href="/profile/editcompanyprofile">Edit Profile</a></button>
<br>
{{/if}}

<h2 class="companyabout">About</h2>
<p class="companypara">{{companyInfo.company_description}}</p>

<div class="openroletitle">Open Roles
{{#each companyJobs}}
<p class="openrolepara">{{this.job_title}}</p>
<p class="openrolepara">{{this.location}}</p>
<a href="/jobs/jobdetails/{{this.job_id}}"><button class="openrolebtn">View Role</button></a>
{{/each}}
</div>