<h1>Home Page</h1>

{{#each sortedPosts}}

    {{#if this.job_id}}

        <div class="card" style="width: 18rem;">
            <img src="/images/jobpics/jobpicture{{this.user_id}}/{{this.job_id}}" class="card-img-top" alt="Job picture">
            <div class="card-body">
                <h6 class="card-title">{{this.name}}</h6>
                <h4 class="card-title"> {{this.job_title}}</h4>
                <p class="card-text">{{this.job_summary}}</p>
                <a href="#" class="btn btn-primary">Apply</a>
            </div>
        </div>

    {{else}}

        <div class="card" style="width: 18rem;">
            <img src="/images/postpics/postpicture{{this.user_id}}" class="card-img-top" alt="Post picture">
            <div class="card-body">
                <h6 class="card-title">{{this.name}} {{this.last_name}}</h6>
                <h4 class="card-title"> {{this.job_title}}</h4>
                <p class="card-text">{{this.job_summary}}</p>
                <a href="#" class="btn btn-primary">Find Out More</a>
            </div>
        </div>

    {{/if}}

{{/each}}