<link rel="stylesheet" href="/jobs.css">
<div class="job-pages">
    
    
    {{#if isCompany}}
        <div class="company-jobs-buttons">
            <div class="jobs-buttons">
                <span><a href="/jobs" class="listed-jobs">Job Board</a></span>
                <span><a href="/jobs/listedjobs" class="opaque right">Listed Jobs</a></span>
            </div>
            <div>
                <div id="postjob-button"><a href="/jobs/createjob">Create a Job</a></div>
            </div>
        </div>
    {{else}}
        <div class="jobs-buttons">
            <span><a href="/jobs" class="listed-jobs">Job Board</a></span>
            <span><a href="/jobs/appliedjobs" class="opaque right">Jobs Applied</a></span>
        </div>
    {{/if}}
    
    {{#each jobInfo}}
        <div class="jobcontainer">
            <div>
                {{#if this.hasProfilePic}}
                    <img src="/images/companylogos/companylogo{{this.company_id}}" class="small-logo">
                {{else}}
                    <img src="/images/companylogos/company-logo-default.png" class="small-logo">
                {{/if}}
            </div>

            <div class="small-container">
                <span class="top-text">{{this.job_title}}</span>
                <span>{{this.company_name}}</span>
            </div>
            <div class="small-container">
                <span class="top-text">{{this.location}}</span>
                <span>Location</span>
            </div>
            <div class="small-container">
                <span class="top-text">{{this.job_updated_date}}</span>
                <span>Job Posted</span>
            </div>
            <div class="more-info">
                <a href="/jobs/jobdetails/{{this.id}}">View Job</a>
            </div>
        </div>
    {{/each}}
    
</div>