<link rel="stylesheet" href="/jobs.css">
<div class="jobdetails">
    
<h1 class="jobtitle">{{jobInfo.job_title}} -- {{jobInfo.company_name}}</h1>

{{#each jobPicPath}}
    {{#if this}}
        <img src="{{this}}" alt="Picture describing the job">
    {{/if}}
{{/each}}

 {{#each logoPath}}
        {{#if this}}
          <img src="{{this}}" alt="Company Logo" class="profilepicture">
        {{else}}
          <img src="/images/companylogos/company-logo-default.png" class="profilepicture" alt="Profile Picture">
        {{/if}}
      {{/each}}

<div class="jobabout">
<span>{{jobInfo.job_nature}}</span><br>
<span>Remote: {{jobInfo.job_remote}}</span>
<p>Location: {{jobInfo.location}}</p>

<div class="jobdescription">
<div>
    <p style="white-space: pre-line;">{{jobInfo.job_summary}}</p>
</div>

<div>
    <p style="white-space: pre-line;">{{jobInfo.job_description}}</p>
</div>
</div>
</div>


{{#unless isCompany}}
{{#if jobOpen}}
<form action="/jobs/applyjob/{{jobInfo.id}}" method="POST">
    <button type="submit">Apply for this position</button>
</form>
{{/if}}
{{/unless}}
{{#if sameCompany}}
<form action="/jobs/closejob/{{jobInfo.id}}" method="POST">
   <button type="submit">Close Position</button> 
</form>
{{/if}}

</div>