<h1>{{postInfo.post_title}}</h1>
<span>Written by: {{postInfo.first_name}} {{postInfo.last_name}}</span>

<br>

{{#each postPicPath}}
    {{#if this}}
        <img src="{{this}}" alt="Picture describing the post">
    {{/if}}
{{/each}}

<h4 style="white-space: pre-line;">{{postInfo.post_summary}}</h4>
<p style="white-space: pre-line;">{{postInfo.post_description}}</p>