<div class="profile">
  <div class="basicprofile">
  {{#each profilePicPath}}
  {{#if this}}
  <img src="{{this}}" alt="Profile Picture" class="profilepicture">
  {{else}}
  <img src="/images/profilepics/default-profile-pic.jpg" class="profilepicture" alt="Profile Picture">
  {{/if}}
  {{/each}}

  <h1 class="fullName">{{userInfo.first_name}} {{userInfo.last_name}}</h1>
  <h2 class="userName">{{userInfo.username}}</h2>
  <h2 class="email">{{userInfo.email}}</h2>

    {{#if isUser}}
<button class="edit-btn"><a href="/profile/edituserprofile">Edit Profile</a></button>
<br>
<button class="post-btn"><a href="/posts/createpost">Create Post</a></button>
<br><br>
{{/if}}
</div>
  <div class="userproject">
  <h2 class="about">About</h2>
  <p class="description">{{userInfo.about_section}}</p>


  <h2 class="project">Project</h2>
  <p class="description">{{userInfo.project_name}}</p>
  <p class="description">{{userInfo.project_description}}</p>
  

  {{#each imagePaths}}
    {{#if this}}
    <img class="projectpicture" src="{{this}}" alt="Project Picture{{@index}}">
    {{/if}}
  {{/each}}

  <p class="description">Click below to view resume</p>
  <a href="/profile/resume/{{userInfo.user_id}}" target="_blank">
    <img class="resume-pic"src="/images/cvthumbnail.png" alt="Resume Thumbnail">
  </a>
</div>
</div>

