<a href="#" class="logo">Tabon</a>

<form action="/profile/edituserprofile" method="POST" enctype="multipart/form-data">
  <h4>Edit Your User's Profile</h4>
  <br>

  <label for="profilepic">Upload your profile picture</label>
  <br>
  <input type="file" id="profilepic" name="profilepic">
  <br>
  <button type="submit">Upload</button>
  <br>

  <label for="firstname">First Name</label>
  <input type="text" id="firstname" name="firstname" value="{{userInfo.first_name}}">
  <br>

  <label for="lastname">Last Name</label>
  <input type="text" id="lastname" name="lastname" value="{{userInfo.last_name}}">
  <br>

  <label for="aboutme">About Me</label>
  <textarea id="aboutme" name="aboutme">{{userInfo.about_section}}</textarea>
  <br>

  <label for="project">Project</label>
  <br>
  <div id="project">
    <label for="projectheader">Your project's name</label>
    <input type="text" id="projectheader" name="projectheader" value="{{projectInfo.project_name}}">
    <br>

    <label for="projectdescription">Tell us more about your project</label>
    <textarea name="projectdescription" id="projectdescription">{{projectInfo.project_description}}</textarea>
    <br>

    <label for="uploadproject">Upload your project</label>
    <div id="uploadproject">
      <input type="file" name="projectpic1" accept="image/png, image/jpeg">
      <input type="file" name="projectpic2" accept="image/png, image/jpeg">
      <input type="file" name="projectpic3" accept="image/png, image/jpeg">
    </div>
  </div>


  <label for="uploadresume">Upload your resume</label>
  <br>
  <input type="file" id="uploadresume" name="uploadresume" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">

  <br>

  <button type="submit">Save</button>
</form>